@import url('../../app.css');

/* =============== FOOTER =============== */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 5px solid var(--light-gray);
    background-color: var(--ivory);
}

/* -------- Text -------- */
.footer-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 75%;
    text-align: left;
}

.footer-text p {
    margin: 0;
}

/* -------- Logo -------- */
.footer-logo {
    width: 40px;
    display: block;
    margin:auto;
}

/* -------- Social Icons -------- */
.icon-nav{
    float: right;
    font-size: 90%;
}

.footer-icon-nav-link {
    display: block;
    padding-top: 25%;
}

.footer-icon-nav-link i {
    color: var(--pink);
}

.footer-icon-nav-link i:hover {
    color: var(--black);
}

.vertical-separator{
    border:         none;
    border-left:    3px solid var(--white);
    height:         15px;
    width:          1px;
}
