@import url('../../app.css');

/* =============== HEADER =============== */
.header {
    background-color: var(--ivory);
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.header-logo {
    max-width: 70px;
    display: block;
    margin: 0;
}

.fas.fa-bars{
    font-size: 140%;
    color: var(--pink);
    margin: 10%;
}

.cel {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mynavbar .navbar-nav .nav-link{
    color: var(--pink);
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
    text-transform: uppercase;
    border-radius: 30%;
}

.mynavbar .navbar-nav .nav-link:hover{
    color: var(--black);
}

.mynavbar .navbar-nav .active>.nav-link, .mynavbar .navbar-nav .nav-link.active, .mynavbar .navbar-nav .nav-link.show, .mynavbar .navbar-nav .show>.nav-link {
    color: var(--white);
    font-weight: bolder;
    background-image: var(--rainbow);
}
a.rainbowCircle {
    color: var(--white);
    background: var(--rainbow);
    border-radius: 360px;
    margin-left: 2px;
    width: 50px;
}

.username {
    font-family: 'Mogra', sans-serif;
    color: var(--pink);
}

.username:hover {
    text-decoration: none;
    color: black;
}

/* =============== Cart=============== */

#count{
    font-weight: bold;
}
