<div class="container" style="margin: 12.6% auto">
    <div class="row justify-content-center">

        <div class="col-md-11">
            <div class="card">
                <div class="card-header headerText">Contacta con nosotros</div>

                <div class="card-body">

                <p class="text">Si tienes problemas con tu cuenta, trabajar con nosotros o hacernos sugerencias no seas vergonsozo y contactanos a través de nuestro email: </p>
                <h3 class="email">weirloidenterprise@gmail.com</h3>

                </div>
            </div>
        </div>
    </div>