@import url('../../app.css');

/* =============== RELATED PRODUTCS =============== */
.detail{
    margin: 3% 15% 3% 15%;
    width: 100%;
}

.data-section{
    background-color: var(--ivory);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 5%;
    width: 100%;
}

.data-section h1{
    background-color: var(--white);
    color: var(--pink);
    font-size: 16px;
    border-radius: 0 10px 10px 0px;
    padding-left: 5px;
    padding-right: 10px;
    width: fit-content;
}

.data-section p{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
}

.data-section #model{
    display: inline;
    margin-left: 5%;
}

.data-section #size{
    display: inline;
    margin-left: 7%;
}

.quantity-input{
    background-color: var(--white);
    border: none;
    color: var(--pink);
    width: 25%;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    margin-inline-start: 35%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    opacity: 1;
}

.button-submit{
    background-color: var(--pink);
    border: none;
    color: var(--white);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    border-radius: 8px;
    margin-inline-start: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    display: inline;
}

.product-section{
    margin-bottom: 3%;
}

/* =============== Products =============== */
.productCard {
    font-family: 'Monserrat', sans-serif;
    font-size: 80%;
    cursor: pointer;
}

.productCard-price h4{
    padding: 1% 5% 1% 4%;
    position: absolute;
    top: 5%; left: 0;
    background-color: var(--pink);
    z-index: 2;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: var(--white);
}

.productCard-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.productCard-category {
    color: var(--pink);
    font-weight: bolder;
}

.myImg {
    max-width: 200px;
    max-height: 200px;
}
