
<!-- -Detail -->
<section class="detail row">
    <!-- Image-->
    <div class="section col-md-3 offset-md-1">

        <div class="media" *ngIf="product">
        <!-- Product Card -->
        <div class="card productCard">
            
            <img class="myImg card-img-top productCard-image" [src]="product.url" alt="Card image">
            <div class="productCard-price">
                <h4 class="card-title"> {{product.precio}} €</h4>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 productCard-category">{{product.clase}}</h6>
                <h5 class="card-title productCard-name">{{product.nombre}}</h5>
            </div>

        </div>
        </div>
    </div>

    <!-- Data -->
    <div class="section col-md-3">

        <form [formGroup]='addToCartForm'> 
        <section class="data-section">
            <article>
                <h1>Descripción</h1>
                <p>{{product.descripcion}}</p>
            </article>
            <article>
                <h1>Cantidad</h1>
                <input type='number' [ngModel]='1' formControlName='quantity' min='1' max='{{product.stock}}' class='quantity-input'>
            </article>
        </section>
        <input type='hidden' formControlName='itemId' [ngModel]="product.nombre">
        <input type='hidden' formControlName='itemPrice' [ngModel]="product.precio">
        <button type="submit" class="button-submit" name="addToCart" (click)="addToCart(addToCartForm.value)">
            Añadir al carrito <i class="fas fa-shopping-cart"></i> 
        </button>
        </form>
    </div>
</section>

