<section class="shoppingCart">

    <h1>MI CARRITO</h1>
    <table>
    <tr id="column-name">
        <th>Artículo</th>
        <th>Cantidad</th>
        <th>Precio</th>
    </tr>
    <div *ngFor='let item of items'>
        <tr id='itemList'>
            <td style="width: 20%;">{{item.name}}</td>
            <td style="width: 20%;">{{item.quantity}}</td>
            <td style="width: 20%;">{{item.price}} €</td>
        </tr>
    </div>
        <tr>
            <td></td>
            <th id='column-name'>Total</th>
            <td id='column-name'></td>
        </tr>
            <tr>
            <td></td>
            <td></td>
            <div *ngIf='totalCompra'><td>{{totalCompra}} €</td></div>
            
        </tr>

    </table>

    <div *ngIf="userName != null"><a href='paymentPlatform'><button class='button-pay'><label>PAGAR AHORA</label></button></a></div>
    <div *ngIf="userName == null"><a href='/'><button class='button-pay'><label>INICIA SESIÓN O RegÍSTRATE</label></button></a></div>




    
</section>

