<div class="container-fluid">

    <div class="row">
        <!-- Filters -->
        <section class="filters col-md-2">
            <div id="title"><h4>Filtrar por</h4></div>
            <form name='form' id='filterForm' action='searchCatalog' method='post' enctype="multipart/form-data">
            {{ csrf_field() }}

                <!-- Clase -->
                <section>
                    <p>Clase</p>
                    <label class="radio">Figuras y Pop's<input type="radio" name="class" value="pops"><span class="checkmark"></span></label><br>
                    <label class="radio">Manga y cómics<input type="radio" name="class" value="manga"><span class="checkmark"></span></label><br>
                    <label class="radio">Electrónica<input type="radio" name="class" value="electronics"><span class="checkmark"></span></label><br>
                    <label class="radio">Ropa<input type="radio" name="class" value="clothes"><span class="checkmark"></span></label><br>

                </section>
                <!--Apply filters-->
                <section><input type='submit' name='submitFilters' value='Aplicar filtros'></section>
            </form>
        </section>

        <!-- -Products -->
        <section class="col-md-10 catalog-products-section">
            <!-- New Products -->
            <div class="section">

                <!-- All Products -->
                <div class="section" id="section-div">

                    <!-- Header-->
                    <h2>Todos los productos</h2>

                      <div class="productsBackground">
                        <div id="productsDiv" class="card-columns productList card-deck">
                        <div class="media" *ngFor="let product of products">

                            <!-- Product Card -->
                          <div class="card productCard">
                            <a [routerLink]="['/productDetail', product.id]"><img class="card-img-top productCard-image myImg" [src]="product.data.url" alt="Card image"></a> 
                            <div class="productCard-price">
                                <h4 class="card-title">{{product.data.precio}} €</h4>
                            </div>
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 productCard-category">{{product.data.clase}}</h6>
                                <h5 class="card-title productCard-name">{{product.data.nombre}}</h5>
                            </div>
                        </div>


                        
                        </div>
                      </div>
                    </div>
                  
                </div>
            </div>
        </section>
    </div>

</div>
    